.calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 4px solid black;
}

.display {
    flex-grow: 1;
    border-bottom: 2px solid black;
}

.key-pad {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 3;
    justify-content: space-around;
}

.key-pad>button {
    flex: 1;
    
}