.calculator {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
    border: 2px solid black;
}

.display {
    display: flex;
    flex-grow: 1;
    flex-flow: wrap;
    border-bottom: 2px solid black;
}

.key-pad {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

.key-pad>div {
    display: flex;
    flex: auto;
}

button {
    flex:auto;
}
